$mainColor: #CAD2C5;
$white: #fff;
$darkColor: #2F3E46;
$lightColor: #52796F;
$darkContentColor: #43645c;
$bgMessagesColor: #a6c3a9;
$hoverColor: #1f2a2e;
$listChatsColor: #354F52;
$placeholderColor: #D3D3D3FF;
$signatureColor: #808080FF;
$messagesBackground: #f6fff6;
$btnColor: #84A98C;